doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/public/javascripts/jquery.js')
    script(src='http://localhost:3030/socket.io/socket.io.js')
  body
    block content
