doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/public/javascripts/jquery.js')
    script(src='http://localhost:3030/socket.io/socket.io.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
  body
    block content

